@media all and (max-width: 480px) {
  img {
    display: block;
    margin: 0 auto;
  }
}

.center-title-container,
.content-description-container {
  text-align: center;
}

.content-shadow-container {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 2em;
  margin: 2em;
}

.content-long-shadow-container {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 2em;
  padding-left: 23%;
  margin: 2em;
}

.content-mobile-long-shadow-container {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 2em;
  padding-left: 30%;
  margin: 2em;
}

.name-container {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
